@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main{
    min-height: 130px;
    font-family: $poppins_regular;
    background: #f0f0f0;
}

/* ////////bootstrap style override///////// */

.form-check-input:checked {
    background-color: #fbd02b !important;
    border-color: #fbd02b !important;
}

.form-check-input:checked,
.form-check-input:focus {
    box-shadow: none !important;
    border-color: #fbd02b;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none !important;
    border-color: #fbd02b !important;
}

.form-control,
.form-select {
    border: 1px solid #112A46 !important;
}


////////////swiper buttons////////// 

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 20px !important;
    color: #000;
    right: -100px;
}
.swiper-button-next{
    right: -7px !important;
}

.swiper-button-prev{
    left: -7px !important;
}

.swiper-pagination{
    bottom: 0px !important;
}