@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$yellow: #fbd02b;
$tarcoal: #112A46;
$poppins_regular: "Poppins", sans-serif;
$poppins_medium: 'Poppins Medium', 'Open Sans';