@import '../../styles/variables';


.page_heading{
    padding: 80px 0;
    background-image: url("https://res.cloudinary.com/divbpcro8/image/upload/v1717249245/mbl_header_banner_ftacwp.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: 900;
    @media(max-width:768px){
        padding: 30px 0;
    }
}


.container{ 

    .heading{
        margin: 0;
        text-align: center;
        font-size: 30px;
        color: $tarcoal;
        font-family: $poppins_regular;
        margin-bottom: 10px;
        @media(max-width:768px){
            font-size: 25px;
        }
    }

    .text{
        margin: 0;
        text-align: center;
        font-size: 20px;
        color: $tarcoal;
        margin-bottom: 20px;
        @media(max-width:768px){
            font-size: 15px;
        }
    }

    .hero{
        display: flex;
        align-items: center;
        .img{
            width: 48%;
            height: 100%;
            object-fit: cover;
        }
        .content{
            width: 52%;
            padding: 15px 30px 15px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                font-size: 20px;
                color: $yellow;
                span{
                    font-size: 30px;
                    color: #000;
                }
            }
            p{
                margin: 0;
                font-size: 16px;
                span{
                    font-weight: 600;
                }
            }
        }
        @media(max-width:768px){
            flex-direction: column-reverse;
            margin: 0 !important;
            .img{
                width: 100% !important;
                border-radius: 0;
            }

            .content{
                width: 100%;
                border-radius: 0;
                padding: 10px 15px;
                p{
                    font-size: 14px;
                }
            }
        }
    }

    .about{
        display: flex;
        .img_1, .img_2{
            width: 45% !important;
            height: auto !important;
            object-fit: cover;
        }
        .img_1{
            border-radius: 0 0 0 130px;
        }
        .img_2{
            border-radius: 0 0 130px 0;
        }
        .content_1, .content_2{
            width: 55%;
            padding: 15px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #fff;
            p{
                margin: 0;
                font-size: 16px;
            }
        }
        .content_1{
            border-radius: 0 130px 0 0;
        }
        .content_2{
            border-radius: 130px 0 0 0;
        }

        @media(max-width:768px){
            flex-direction: column;
            .img_1, .img_2{
                width: 100% !important;
                border-radius: 0;
            }

            .content_1, .content_2{
                width: 100%;
                border-radius: 0;
                padding: 10px 15px;
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .about_2{
        
        @media(max-width:768px){
            flex-direction: column-reverse;
        }
    }
    @media(max-width:768px){
        padding: 0 !important;
    }
}

.guarantee_section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 50px;
    padding: 15px 0;
    .img{
        width: 15%;
        height: 100%;
        object-fit: cover;
    }
    .content{
        width: 55%;
        padding: 15px 0px 15px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid grey;
        h3{
            font-size: 20px;
            color: $yellow;
            span{
                font-size: 30px;
                color: #000;
            }
        }
        p{
            margin: 0;
            font-size: 16px;
            span{
                font-weight: 600;
            }
        }
    }
    @media(max-width:768px){
        flex-direction: column;
        gap: 20px;
        .img{
            width: 30%;
            border-radius: 0;
        }

        .content{
            width: 100%;
            border-radius: 0;
            padding: 10px 15px;
        }
    }
}