@import '../../styles/variables';

.navbar{
    background-color: #000;
    .menu_icon{
        display: none;
    }
    a{
        color: #fff !important;
        padding: 5px 10px;
        font-weight: 600;
    }
    a:hover{
        color: red;
    }
    .btn{
        padding: 5px 15px;
        background-color: $yellow;
        color: #000;
        border: none;
        border-radius: 5px;
        font-weight: 600;
    }
    .btn:hover{
        background-color: #020507;
    }

    .dropdown li a{
        color: #000 !important;
    }
    @media(max-width:768px){
        .mbl_menu{
            position: absolute;
            top: 76px;
            left: 0;
            background-color: rgb(0,0,0,0.8);
            width: 100%;
            height: fit-content;
            padding: 15px 0 25px 0;
            text-align: center;
        }

        .menu_icon{
            color: #fff;
            font-size: 35px;
            display: block;
        }

        .dropdown{
            text-align: center;
        }

        .dropdown li a{
            text-align: center;
        }

        .btn{
            margin: 0 !important;
            margin-left: 10px !important;
        }
    }
}