@import '../../styles/variables';

.container{ 
    padding: 60px 0;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://www.shutterstock.com/shutterstock/photos/1791136307/display_1500/stock-photo-cleaners-clean-empty-office-space-photo-1791136307.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .heading{
        margin: 0;
        text-align: center;
        font-size: 30px;
        color: #fff;
        font-family: $poppins_regular;
        margin-bottom: 10px;
        @media(max-width:768px){
            font-size: 25px;
        }
    }

    .text{
        margin: 0;
        text-align: center;
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
        @media(max-width:768px){
            font-size: 15px;
        }
    }

    .table_container{
        background-color: #ffffffab;
        scrollbar-width: thin;
        th{
            font-size: 16px;
            font-family: $poppins_regular;
            background-color: $tarcoal;
            color: #fff;
        }
    }
    @media(max-width:768px){
        padding: 30px 0;
    }
}